.logo {
    margin-left: 250px;


}

.kee {
    text-align: center;
    color: rgb(228, 207, 114);
    font-size: xx-large;
    font-style: oblique;
    font-weight: 600px;
    

}

.ce {
    color: aqua;

}

.subkee {
    
    color: blanchedalmond;
    font-size: larger;
    font-style: oblique;
    text-align: center;
}
