/* {
    
}*/

#kkk {
    
    filter: drop-shadow(18px 18px 18px rgb(20, 120, 184));
    border-radius: 50px;
    padding: 30px;
    width: 150px;
    height: 100px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    color: #2050b2;
    text-decoration: none;
    font-size: 17px;
}

.main1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(107, 111, 157);
    font-size: 35px;
}

.main2 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.subhl {
    padding: 7px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;    
    color: cornflowerblue;

}

section {
    padding: 40px;
}

#aus {
    text-align: center;

}

footer {
    color: #604747;
    text-align: center;
    padding: 20px;
}

.ibox {
    border-radius: 20px;
    border-left-width: 6px;
    border-right-width: 6px;
    width: 400px;   
    margin-left: 450px;
    display: block;
}

#sendbtn {
    margin-top: 10px;
    margin-left: 650px;
    border-radius: 7px;
    display: block;

}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
}

.kee {
    text-align: center;
    color: rgb(26, 120, 179);
    font-weight: 60px;
    font-size: 70px;
    text-shadow: 2px 2px 5px rgb(32, 30, 30);
}

.ce {
    color: rgb(61, 206, 75);
}

